@font-face {
  font-family: "cocogoose";
  src:
    url("../fonts/cocogoose.eot?") format("eot"),
    url("../fonts/cocogoose.woff") format("woff"),
    url("../fonts/cocogoose.ttf") format("truetype"),
    url("../fonts/cocogoose.svg#cocogoose") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Avenir Medium";
  src:
    url("../fonts/avenir-medium.woff2") format("woff2"),
    url("../fonts/avenir-medium.woff") format("woff"),
    url("../fonts/avenir-medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
