body,
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: $font-body;
  color: $blue;

  ::selection {
    background-color: $yellow;
    color: $blue;
  }

  ::-moz-selection {
    background-color: $yellow;
    color: $blue;
  }
}

/****************************************
 * Formatting Styling
****************************************/
strong {
  font-weight: 700;
}

ul,
li {
  font-weight: 400;
}

svg.svg-inline--fa {
  /* vertical-align: middle; */
}

/****************************************
 * Global Styling
****************************************/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-brand;
  font-variant-ligatures: no-common-ligatures;
  color: $primary;
}

a {
  color: $red;
  transition: all 0.3s ease-in;

  &:hover {
    color: $yellow;
    transition: all 0.3s ease-in;
  }
}

.content > .main {
  padding: 0;
}

.logged-in .banner.sticky-top {
  top: 32px;
}

/****************************************
 * Misc Styling
****************************************/
.alert-warning {
  background-color: $yellow;
  color: $red;
  font-weight: 700;
}

#fader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999999;
  pointer-events: none;
  background-color: $white;
  animation-duration: 300ms;
  animation-timing-function: ease-in-out;
}

#fader.fade-out {
  opacity: 0;
  animation-name: fade-out;
}

#fader.fade-in {
  opacity: 1;
  animation-name: fade-in;
}
