.rc-container-fluid {
  width: 100%;
  max-width: 1230px;
  margin-right: auto;
  margin-left: auto;

  @media (min-width: 768px) {
    /* padding-right: 15px; */

    /* padding-left: 15px; */
  }
}
