@mixin padding {
  padding-top: ($section-padding-y/2);
  padding-bottom: ($section-padding-y /2);

  @media (min-width: 768px) {
    padding-top: $section-padding-y;
    padding-bottom: ($section-padding-y);
  }
}

@mixin padding-top {
  padding-top: ($section-padding-y/2);
  padding-bottom: 0;

  @media (min-width: 768px) {
    padding-top: $section-padding-y;
  }
}

@mixin padding-bottom {
  padding-top: 0;
  padding-bottom: ($section-padding-y/2);

  @media (min-width: 768px) {
    padding-bottom: $section-padding-y;
  }
}

@mixin title-bottom-margin {
  margin-bottom: ($margin-spacer/2);

  @media (min-width: 768px) {
    margin-bottom: $margin-spacer;
  }
}

@mixin button-top-margin {
  @media (min-width: 768px) {
    margin-top: $margin-spacer;
  }
}
