/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

/****************************************
 * Branding colors
****************************************/
$blue: #124165;
$blue-light: #56bbdf;
$red: #f16c63;
$yellow: #f5eb26;
$white: #fff;

$theme-colors: (
  primary: $blue,
  secondary: $red,
  tertiary: $yellow,
);

/****************************************
 * Typography fonts
****************************************/
$font-brand: "cocogoose", sans-serif;
$font-body: "Avenir Medium" sans-serif;

$headings-font-weight: 700;

/* $h1-font-size: 4.125rem !default; */

/* $h2-font-size: 2.25rem !default; */

/* $h3-font-size: 1.75rem !default; */

/* $h4-font-size: 1.5rem !default; */

/* $h5-font-size: 1.25rem !default; */

/* $h6-font-size: 1rem !default; */

/****************************************
 * Links & Buttons
****************************************/

/* $link:							$theme-colors("red");
$link-focus: 				$theme-colors("yellow");
$link-color: 				$theme-colors("red");
$link-hover-color:  $theme-colors("yellow"); */

/****************************************
 * Custom
****************************************/
$font-size-md: 									 1.125rem;
$section-padding-y: 						 3rem;
$margin-spacer: 						 		 3rem;

/** Bootstrap navbar fix (https://git.io/fADqW) */
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;

$slick-font-path: "~slick-carousel/slick/fonts/";
$slick-loader-path: "~slick-carousel/slick/";
