.nf-field-element input[type=submit],
.nf-field-element input[type=button] {
  border-radius: 0;
  background-color: $primary;
  font-family: $font-brand;
  font-variant-ligatures: no-common-ligatures;
  color: $white;
  padding: 0.625rem 2.5rem;
  display: flex;
  font-size: 1.25rem;
  margin-left: auto;

  @extend .btn;
  @extend .btn-primary;

  &:hover {
    background-color: transparent;
    color: $blue;
  }
}

.btn,
.nav-post-links a {
  border-radius: 0;
  border: solid 1px $primary;
  background-color: $primary;
  font-family: $font-brand;
  font-variant-ligatures: no-common-ligatures;
  color: $white;
  padding: 0.625rem 2.5rem;

  &:focus {
    box-shadow: none;
  }

  &:hover {
    background-color: transparent;
    text-decoration: none;
    color: $red;
    box-shadow: none;
  }
}
