/** Search form */
.search-form {
  @extend .form-inline;
}

.search-form label {
  @extend .form-group;

  font-weight: normal;
}

.search-form .search-field {
  @extend .form-control;
}

.search-form .search-submit {
  @extend .btn;
  @extend .btn-secondary;
}

.nf-field-element {
  input,
  textarea {
    background-color: $yellow;
    color: $blue;
    font-size: 1.25rem;
    border: none;
    padding: 10px 15px;
  }
}

.nf-field-label label {
  font-family: $font-brand;
  font-size: 1.25rem;
  font-variant-ligatures: no-common-ligatures;
  margin-bottom: 5px;
}
