/**
 * WordPress Generated Classes
 * @see http://codex.wordpress.org/CSS#WordPress_Generated_Classes
 */

/** Media alignment */
.alignnone {
  margin-left: 0;
  margin-right: 0;
  max-width: 100%;
  height: auto;
}

.aligncenter {
  display: block;
  margin: ($spacer / 2) auto;
  height: auto;
}

.alignleft,
.alignright {
  margin-bottom: ($spacer / 2);
  height: auto;
}

@include media-breakpoint-up(sm) {
  .alignleft {
    float: left;
    margin-right: ($spacer / 2);
  }

  .alignright {
    float: right;
    margin-left: ($spacer / 2);
  }
}

.wp-block-image img {
  height: auto;
  margin-bottom: ($section-padding-y/2);

  @media (min-width: 768px) {
    margin-bottom: $section-padding-y;
  }
}

/** Captions */
.wp-caption {
  @extend .figure;
}

.wp-caption img {
  @extend .figure-img;
  @extend .img-fluid;
}

.wp-caption-text {
  @extend .figure-caption;
}

/** Text meant only for screen readers */
.screen-reader-text {
  @extend .sr-only;
  @extend .sr-only-focusable;
}

.wp-media-text,
.wp-block-columns {
  @include padding;
}

.wp-block-media-text {
  @include make-row();

  .wp-block-media-text__media {
    order: 1;

    @include make-col-ready();

    @include media-breakpoint-down(sm) {
      margin-bottom: 1.5rem;
    }

    @include media-breakpoint-up(md) {
      @include make-col(6);
    }

    @include media-breakpoint-up(xl) {
      @include make-col(5);

      margin-right: auto;
      margin-left: auto;
    }
  }

  .wp-block-media-text__content {
    @include make-col-ready();

    .container-fluid.rc-container-fluid {
      padding-left: 0;
      padding-right: 0;
    }

    @include media-breakpoint-up(md) {
      @include make-col(6);
    }

    @include media-breakpoint-up(xl) {
      @include make-col(5);

      margin-right: auto;
      margin-left: auto;
    }

    order: 12;
    padding-right: 15px;
    padding-left: 15px;
  }

  &.has-media-on-the-right {
    .wp-block-media-text__media {
      order: 12;

      @include media-breakpoint-down(sm) {
        margin-top: 1.5rem;
        margin-bottom: 0;
      }
    }

    .wp-block-media-text__content {
      order: 1;
    }
  }
}

.wp-block-columns {
  @include make-row();

  margin-right: 0 !important;
  margin-left: 0 !important;

  &.has-4-columns {
    > .wp-block-container {
      @include media-breakpoint-up(sm) {
        @include make-col(6);
      }

      @include media-breakpoint-up(md) {
        @include make-col(3);
      }
    }
  }

  &.has-3-columns {
    > .wp-block-container {
      @include media-breakpoint-up(md) {
        @include make-col(4);
      }
    }
  }

  &.has-2-columns {
    > .wp-block-container {
      @include media-breakpoint-up(sm) {
        @include make-col(6);
      }

      @include media-breakpoint-up(lg) {
        @include make-col(6);
      }

      @include media-breakpoint-up(xl) {
        @include make-col(5);
      }

      &:first-of-type {
        margin-left: auto;
      }

      &:last-of-type {
        margin-right: auto;
      }
    }
  }

  .wp-block-column {
    margin: 0;
  }
}

.wp-block-media-text > figure > img,
.wp-block-media-text > figure > video {
  width: auto;
  max-width: 100%;
}
