/*
 ****************************************
 *	Archive Styling
 *	- Our Work Styling
 ****************************************
 */
.our-work-container {
  /* @include padding; */
}

.our-work-detail {
  .label {
    min-width: 105px;
    display: inline-block;
  }

  .h4 {
    color: $red;
  }
}
