.content-info {
  padding-top: 1.5rem;
  background-color: $primary;
  color: $white;
}

.social-container {
  text-align: center;
  margin-bottom: 1.5rem;
}

.footer-social {
  width: 35px;
  height: 35px;
  line-height: 35px;
  display: inline-block;
  background-color: $red;
  border-radius: 100%;
  margin: 0 2px;

  i,
  svg,
  .fa {
    color: $white;
    transition: all 0.3s ease-in;
    vertical-align: text-bottom;
  }

  &:hover {
    background-color: $yellow;

    i,
    svg,
    .fa {
      color: $primary;
      transition: all 0.3s ease-in;
    }
  }
}

.contact-container {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 1.5rem;

  .footer-contact {
    font-family: $font-brand;
    font-weight: 700;
    color: $white;
    margin-bottom: 0;

    a {
      color: $white;

      &:hover {
        color: $yellow;
        text-decoration: none;
      }
    }

    &::after {
      content: " | ";
      padding: 0 1rem;
      color: $yellow;
    }

    &:last-of-type::after {
      content: initial;
    }
  }
}

@include media-breakpoint-down(sm) {
  .contact-container {
    text-align: center;
    display: block;

    .footer-contact::after {
      content: initial;
    }
  }
}

@include media-breakpoint-down(xs) {
  .footer-social {
    margin-bottom: 0.5rem;
  }
}
