.banner {
  background-color: $primary;
  color: $white;

  .nav {
    li {
      @extend .nav-item;
    }

    .nav-link {
      @extend .nav-link;

      font-family: $font-brand;
      text-transform: uppercase;
      color: $white;
      padding-right: 1rem;
      padding-left: 1rem;

      &:hover {
        color: $red;
      }
    }

    .active .nav-link {
      color: $red;

      &:hover {
        color: $yellow;
      }
    }
  }
}

.brand img {
  width: auto;
  max-height: 75px;
  transition: max-height 0.3s ease-in;

  .scrolled & {
    max-height: 50px;
    transition: max-height 0.3s ease-in;
  }
}

.navbar-toggler {
  background-color: $red;
  border: 0;
  border-radius: 0;
  margin: 0;
  padding: 18px;
  transition: all 0.3s ease-in;

  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(18, 65, 101, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }

  &:hover {
    background-color: $yellow;
    transition: all 0.3s ease-in;
  }

  &:focus {
    background-color: $yellow;
    transition: all 0.3s ease-in;
  }
}

.page-header {
  text-align: center;

  @include padding;

  h1 {
    margin-bottom: 0;
  }
}

@media (min-width: 992px) {
  .navbar {
    padding: 0.5rem 1rem;
  }
}

@media (max-width: 991px) {
  .nav-primary {
    margin-right: -15px;
    margin-left: -15px;
    padding: 0;
  }

  .brand {
    padding: 0.5rem 1rem;
  }

  #navbarNav {
    text-align: right;
  }
}

@media (max-width: 575px) {
  #navbarNav {
    text-align: center;
  }

  .brand img {
    max-height: 50px;
  }
}
