/*
 ****************************************
 *	Block Styling
 *	- General Styling
 ****************************************
 */
.block-container {
  @include padding;

  &.padding-top-bottom {
    @include padding;
  }

  &.padding-top {
    @include padding-top;
  }

  &.padding-bottom {
    @include padding-bottom;
  }

  &.padding-off {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.block-title {
  margin-bottom: 3rem;
}

/*
 ****************************************
 *	Block Styling
 *	- Columns Styling
 ****************************************
 */
.col-container {
  text-align: center;
}

.columns-title {
  text-align: center;
}

.col-img {
  width: auto;
  height: auto;
  max-width: 200px;
  margin-bottom: 0.75rem;
}

.col-title {
  margin: 0 auto 0.75rem auto;
}

.col-content {
  margin-bottom: 0.75rem;

  > *:last-child {
    margin-bottom: 0;
  }
}

.col-link {
  margin-top: auto;
}

/*
 ****************************************
 *	Block Styling
 *	- Paralax Image Styling
 ****************************************
 */
.paralax-container {
  position: relative;
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: ($section-padding-y/2);
  margin-bottom: ($section-padding-y /2);

  &::before {
    content: "";
    padding-top: 30%;
    display: block;
  }

  &::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba($black, 0.5);
  }

  @media (min-width: 768px) {
    margin-top: $section-padding-y;
    margin-bottom: $section-padding-y;
  }

  &.margin-top {
    margin-top: ($section-padding-y/2);
    margin-bottom: 0;

    @media (min-width: 768px) {
      margin-top: $section-padding-y;
    }
  }

  &.margin-bottom {
    margin-top: 0;
    margin-bottom: ($section-padding-y/2);

    @media (min-width: 768px) {
      margin-bottom: $section-padding-y;
    }
  }

  &.margin-off {
    margin-top: 0;
    margin-bottom: 0;

    @media (min-width: 768px) {
      margin-bottom: 0;
    }
  }
}

.paralax-img {
  width: 100%;
  height: auto;
}

.paralax-content-container {
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 10;
}

.paralax-content h4 {
  color: $white;
  text-shadow: 1px 1px 1px $black;
}

/*
 ****************************************
 *  Block Styling
 *  - Columns Styling
 ****************************************
 */
.multi-row-columns-container {
  background-color: $yellow;
  text-align: center;
  color: $blue;

  .col-title {
    margin-bottom: 0.5rem;
  }
}

.multi-row-one,
.row-col-title {
  margin-bottom: 1.5rem;
}

.row-col-img {
  max-width: 100px;
}

/*
 ****************************************
 *  Block Styling
 *  - Contact Form Styling
 ****************************************
 */
.nf-form-fields-required {
  display: none;
}

.contact .col-container {
  margin-right: auto !important;
  margin-left: auto !important;
}

.nf-response-msg {
  text-align: center;
  margin-bottom: 3rem;
}

/*
 ****************************************
 *  Block Styling
 *  - Content Styling
 ****************************************
 */
.content-content {
  margin-bottom: 1.5rem;
}

/*
 ****************************************
 *  Responsive Styling
 *
 ****************************************
 */
@include media-breakpoint-up(lg) {
  .col-container {
    &:first-of-type {
      margin-left: 0 !important;
    }

    &:last-of-type {
      margin-right: 0 !important;
    }
  }

  .col-img {
    margin-bottom: 1.5rem;
  }

  .col-content {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .col-no-content {
    margin-bottom: 1.5rem;
  }

  .col-title {
    max-width: 275px;
    min-height: 56px;
  }

  .multi-row-columns-container .col-title {
    min-height: 56px;
    margin: 0;
  }

  .contact .columns-container .col-container {
    max-width: initial;

    &:first-of-type {
      margin-right: 0 !important;
      margin-left: auto !important;
    }

    &:last-of-type {
      margin-right: auto !important;
      margin-left: 0 !important;
    }
  }
}

@include media-breakpoint-down(md) {
  .col-container {
    margin-bottom: 1.5rem;
  }

  .col-img {
    max-width: 100%;
    width: 125px;
  }
}

@include media-breakpoint-down(xs) {
  .paralax-content {
    h4 {
      font-size: 1.75rem;
      line-height: 1.4;
    }
  }

  .paralax-container {
    min-height: 175px;

    &::before {
      padding-top: 35%;
    }
  }
}
