.news-media-single-container {
  @include padding-top;

  .post {
    margin-bottom: 2rem;
  }
}

.post-row {
  margin-bottom: 3rem;
}

.updated {
  display: block;
  font-family: $font-brand;
  font-size: $font-size-lg;
  text-transform: capitalize;
  color: $red;
  margin-bottom: 0.5rem;
}

.news-media-img {
  width: 100%;
  height: auto;
}

.nav-post-links {
  margin-bottom: 3rem;

  a {
    display: inline-block;
  }
}

.entry-title a {
  color: $blue;

  &:hover,
  &:active {
    color: $red;
    text-decoration: none;
  }
}

.instagram-feed-container {
  position: relative;
  margin-bottom: -1px;

  .btn-slick {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 36px;
    padding: 3px 19px;
    z-index: 10;

    @media (max-width: 767px) {
      font-size: 30px;
      padding: 0 14px;
    }

    @media (max-width: 330px) {
      font-size: 18px;
      padding: 6px 14px;
      transform: initial;
    }
  }

  .slick-slide {
    position: relative;
    border: solid 1px $red;
    border-left: none;

    svg {
      position: absolute;
      right: 5px;
      bottom: 5px;
      font-size: 24px;
      color: $white;

      @media (max-width: 575px) {
        font-size: 16px;
      }
    }
  }

  .slide-img {
    width: auto;
    max-width: 100%;
    height: 275px;
  }

  .slick-prev {
    left: 15px;

    @media (max-width: 330px) {
      top: 15px;
    }
  }

  .slick-next {
    right: 15px;

    @media (max-width: 330px) {
      top: initial;
      bottom: 15px;
    }
  }
}
